<div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle"></i>
    <b>Information about the data type of columns and parameters:</b>
<br>
<ul>
    <li><code class="highlighter-rouge">string</code> represents a text with a maximum length of 256 characters.</li>
    <li><code class="highlighter-rouge">string(XX)</code> represents a text with a maximum length of XX characters.</li>
    <li><code class="highlighter-rouge">int</code> represents a strict integer value.</li>
    <li><code class="highlighter-rouge">float</code> represents a floating-point number (but can also return an integer).</li>
    <li><code class="highlighter-rouge">date</code> represents a strict date (without time).</li>
    <li><code class="highlighter-rouge">time</code> represents a strict time (without date).</li>
    <li><code class="highlighter-rouge">datetime</code> represents a full date with time.</li>
    <li><code class="highlighter-rouge">url</code> represents a complete URL.</li>
    <li><code class="highlighter-rouge">enum(A,B,C)</code> represents a fixed list of values (in this case, the field can only contain A, B, or C).</li>
    <li><code class="highlighter-rouge">yesNoElement</code> represents a boolean: yes/no values only.</li>
</ul>

    There are also additional complex types, such as <code class="highlighter-rouge">registerFlag</code> or <code class="highlighter-rouge">traineeSearchField</code>.
    These complex types all have their own dedicated page, which is accessible by clicking on the data type label directly.
</div>
