<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<h3 id="{{ include.title | downcase | replace: ' ', '-' }}" class="clickable-header top-level-header">{{ include.title }}</h3>

<!--Fields available table-->
<table id="export_table" class="display">
    <thead>
    <tr>
        <th>Name</th>
        <th>System field</th>
        <th>Type</th>
        <th>Description</th>
        {% if page.show_mandatory_column %}
            <th>Mandatory</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% assign columns = include.columns | sort '' %}
    {% for c in columns %}
        {% assign html = c %}
        {% if include.collection[c].deleted %}
            {% assign html = '<del>' | append: html | append: '</del>' %}
        {% endif %}
        {% assign html = '<code class="highlighter-rouge">' | append: html | append: '</code>' %}
        {% if include.collection[c].url %}
            {% assign html = '<a href="' | append: include.collection[c].url | append: '">' | append: html | append: '</a>' %}
        {% endif %}

        {% assign type = include.collection[c].type %}
        {% if site.data.IO_items.datatype[type] %}
            {% assign type = '<a href="' | append: site.data.IO_items.datatype[type].url | append: '">' | append: type | append: '</a>' %}
        {% endif %}

        <tr>
            <td>
                {{ include.collection[c].name }}
            </td>
            <td>
                {{ include.collection[c].system }}
            </td>
            <td style="max-width: 200px">{{ type }}</td>
            <td>{{ include.collection[c].desc }}</td>
            {% if page.show_mandatory_column %}
                <td>
                    {% if include.collection[c].mandatory %}
                        {{ include.collection[c].mandatory }}
                    {% else %}
                    No
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
